:root{
  --color-v1: rgba(211, 235, 72, 0.1);
  --color-v2: rgba(211, 235, 72, 0.2);
  --color-v4: rgba(211, 235, 72,, 0.4);
  --color-v8: rgba(211, 235, 72, 0.8);
  --color-v10: rgba(211, 235, 72, 1);
  --bg-color-lg: linear-gradient(to right, var(--color-v1), white, var(--color-v1));
  --bg-color-rg: radial-gradient(var(--color-v1) 10%, white 80%, var(--color-v1) 10%);
  --bg-color-cg: conic-gradient(var(--color-v1) 30deg, white 30deg, var(--color-v1) 30deg);
  --bg-card-v4: var(--color-v4);
  --bg-card-v8: var(--color-v8);
  --bg-button-color: var(--bg-color-l1);
  --title-color: rgba(12, 6, 6, 1);
  --text-color: rgba(3, 3, 3, 0.6);
  --text-font: Verdana;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Verdana', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Verdana, 'Courier New',
    monospace;
}

